#add-account {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding: 17px 0 20px 29px;
}


#add-account:hover {
    text-decoration: none;
}

#add-account__icon, #add-account__text {
color: #424242;
font-size: 15px;
padding: 7px 8px 0 16px;
letter-spacing: 0.29px;
text-align: left;
vertical-align: middle;
white-space: normal;
}

#add-account:hover {
    background-color: #f6f6f6;
}

#add-account__icon--user {
    color: #5d6066;
}

#add-account__text:hover {
    text-decoration: none;
}