.apps  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.apps__icon {
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid grey;
}

.apps__icon--image {
    justify-self: flex-start;
}

.apps__icon--text {
    font-size: 14px;
    letter-spacing: 0.25px;
}

.apps__line {
    border-top: 1px solid #b9b9b9;
    width: 100%;
}