.apps  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.apps__icon {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid grey;
    margin-left: 25px;
    margin-top: 25px;
    padding: 35px;
}