.apps  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.apps__icon {
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid grey;
    margin-left: 25px;
    margin-top: 25px;
    width: 80px;
    height: 80px;
}

.apps__icon--image {
    justify-self: flex-start;
}

.apps__icon--text {
    font-size: 14px;
    letter-spacing: 0.25px;
}