#appsmenu {
    padding: 12px 15px 0 22px;
}
#appsmenu__button--icon {
    color: #7e8288;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

#appsmenu__modal {
    position: absolute;
    top: 65px;
    right: 33px;
    width: 348px;
    height: 480px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 8px;
    background: #fff;
    box-shadow: 1px 1px 5px 2px rgb(223, 223, 223);
}

#appsmenu__button--icon:hover {
    color: #35383b;
}

#appsmenu__button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    z-index: 2px;
    outline: none;
}

#appsmenu__button:hover {
    outline: none;
}