#appsmenu {
    padding: 12px 15px 0 22px;
}

#appsmenu__button--icon {
    color: #7e8288;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

#appsmenu__modal {
    position: absolute;
    top: 65px;
    right: 30px;
    width: 335px;
    height: 480px;
    border: 1px solid #7e8288;
    border-radius: 8px;
    background: #fff;
}

#appsmenu__button--icon:hover {
    color: #35383b;
}

#appsmenu__button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    z-index: 2px;
    outline: none;
}

#appsmenu__button:hover {
    outline: none;
}