#buttons {
    padding: 18px 0 18px 0;
}
  
#buttons__search, #buttons__lucky {
    background-color: #F2F2F2;
    color: #5F6368;
    font-family: arial, sans-serif;
    font-size: 15px;
    margin: 14px 9px;
    padding: 0px 18px;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    line-height: 27px;
    height: 40px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

#buttons__search:hover, #buttons__lucky:hover {
    text-decoration: none;
    color: #000;
    border: solid 1px #bbbdc0; 
}