#menufooter {
    position: relative;
    right: 14px;
    border-top: 1px solid #e8eaed;
    width: 100%;
    padding: 16px;
    color: #5f6368;
    text-align: center;
    white-space: normal;
}
  
.menufooter__link {
    border-radius: 4px;
    color: #5f6368 !important;
    display: inline-block;
    font: 13px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    outline: 0;
    font-weight: 400;
    padding: 4px 8px;
    text-decoration: none;
    text-align: center;
    white-space: normal;
    line-height: normal;
}
  
.menufooter__link:hover {
    text-decoration: none;
    background-color: #f6f6f6;
}
  
.menufooter__dot {
    line-height: normal;
    position: relative;
}