#message-container {
    margin-bottom: 32px;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-decoration: none;
    text-decoration-color: none;
}
  
#icon-warning {
    color: #ffc422;
}


#message-link:visited {
    text-decoration: underline;  
    color: rgb(93, 7, 151);
}