#signout {
    border-top: 1px solid #e8eaed;
}

#signout__button {
    background-color: #ffffff;
    border: 1px solid #dadce0;
    color: #3c4043;
    border-radius: 4px;
    display: inline-block;
    font: 500 15px Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    letter-spacing: 0.2px;
    outline: 0;
    margin: 16px;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    white-space: normal;
}

#signout__button:hover {
    text-decoration: none;
    background-color: #f6f6f6;
}