#usermenu {
    padding: 4px 17px 0 10px;
    border: 0;
}

#usermenu__button--user {
    color: #2e72ca;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
  
#usermenu__button--user:hover {
    box-shadow: 0px 0px 4px 1px rgb(223, 223, 223);
}
  
#usermenu__button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}
  
#usermenu__button:hover {
    outline: none;
}
  
#usermenu__links {
    background-color: #fff;
    position: absolute;
    max-height: calc(100vh - 44px - 15px - 100px);
    border-radius: 8px;
    top: 65px;
    right: 33px;
    width: 390px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 1px 1px 5px 2px rgb(223, 223, 223);
}
  
.usermenu__links--email {
    border: none;
    cursor: pointer;
    height: 35px;
    outline: 0;
    line-height: normal; 
    position: relative;
    text-align: left;
    text-decoration: none;
}
  
.usermenu__links--email:hover {
    text-decoration: none;
}
  
#usermenu__links--signout {
    border-top: 1px solid #e8eaed;
}
  
#sign-out {
    background-color: #ffffff;
    border: 1px solid #dadce0;
    color: #3c4043;
    border-radius: 4px;
    display: inline-block;
    font: 500 15px Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    letter-spacing: 0.2px;
    outline: 0;
    margin: 16px;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    white-space: normal;
}
  
#user-menu-bottom {
    position: relative;
    right: 14px;
    border-top: 1px solid #e8eaed;
    width: 100%;
    padding: 16px;
    color: #5f6368;
    text-align: center;
    white-space: normal;
}
  
.user-menu-bottom-links {
    border-radius: 4px;
    color: #5f6368 !important;
    display: inline-block;
    font: 13px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    outline: 0;
    font-weight: 400;
    padding: 4px 8px;
    text-decoration: none;
    text-align: center;
    white-space: normal;
    line-height: normal;
}
  
#manage-account-link:hover, #sign-out:hover {
    text-decoration: none;
    background-color: #f6f6f6;
}
  
.dot-span {
    line-height: normal;
    position: relative;
}