#usermenu {
    padding: 4px 17px 0 10px;
    border: 0;
}

#usermenu__button--user {
    color: #2e72ca;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
  
#usermenu__button--user:hover {
    box-shadow: 0px 0px 4px 1px rgb(223, 223, 223);
}
  
#usermenu__button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}
  
#usermenu__button:hover {
    outline: none;
}
  
#usermenu__links {
    background-color: #fff;
    position: absolute;
    max-height: calc(100vh - 44px - 15px - 100px);
    border-radius: 8px;
    top: 65px;
    right: 33px;
    width: 390px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 1px 1px 5px 2px rgb(223, 223, 223);
}
  
.usermenu__links--email {
    border: none;
    cursor: pointer;
    height: 35px;
    outline: 0;
    line-height: normal; 
    position: relative;
    text-align: left;
    text-decoration: none;
}
  
.usermenu__links--email:hover, #usermenu__links--addaccount {
    text-decoration: none;
}
  
#usermenu__links--signout {
    border-top: 1px solid #e8eaed;
}