body {
  font-family: arial, sans-serif;
  font-size: small;
  color: #222;
}

#viewport {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100%;
}

div#viewport {
  position: absolute;
  top: 0;
  width: 100%;
}

a, a:visited {
  text-decoration: none;  
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}