body {
  font-family: arial, sans-serif;
  font-size: small;
  color: #222;
}

#viewport {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100%;
}

div#viewport {
  position: absolute;
  top: 0;
  width: 100%;
}

#header-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 233px;
}

.header-text {
  padding: 10px 5px 0 10px;
  font-size: 14px;
}

a, a:visited {
  text-decoration: none;  
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

#message-link:visited {
  text-decoration: underline;  
  color: rgb(93, 7, 151);
}

#header-left {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-family: arial, sans-serif;
  padding: 15px;
  color: #000;
  opacity: 0.75;
}

#header-right {
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: space-between;
  font-size: 14px;
  font-family: arial, sans-serif;
}

#icon-grid {
  color: #7e8288;
  padding: 10px 20px 0 20px;
}

#icon-user {
  color: #2e72ca;
  padding: 10px 20px 0 20px;
}

#main {
  flex-grow: 1;
  padding: 0px 0px 40px;
  padding-bottom: 35px;
}

#logo-container {
  width: 272;
  padding-bottom: 25px;
  margin: auto;
  min-width: 400px;
}

#searchbar-container {
  max-width: 530px;
  margin: auto;
  padding: 0 14px 0 14px;
}

#searchbar-outline {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 48px;
  margin: 0 auto;
  width: auto;
}

#icon-search {
  margin: auto;
  margin-right: 5px;
  color: #a6acb4; 
}

#searchbar {
  display: flex;
  flex: 100%;
  background-color: transparent;
  border: none;
  margin: 0 30px;
  padding: 0;
  color: rgba(0,0,0,.87);
  outline: none;
  font-size: 16px;
}

#icon-microphone {
  margin: auto;
  margin-left: 5px;
  color: #2e72ca;
}

#button-container {
  padding: 18px 0 18px 0;
}

#google-search, #feeling-lucky {
  background-color: #F2F2F2;
  color: #5F6368;
  font-family: arial, sans-serif;
  font-size: 15px;
  margin: 14px 6px;
  padding: 0px 18px;
  border: 1px solid #F2F2F2;
  border-radius: 5px;
  line-height: 27px;
  height: 40px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

#message-container {
  margin-bottom: 32px;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-decoration: none;
  text-decoration-color: none;
}

#icon-warning {
  color: #ffc422;
}

#footer-container {
  display: flex;
  flex-direction: column;
  height: 90px;
  width: 100%;
  background-color: #F2F2F2;
  line-height: 40px;
  letter-spacing: 0.2px;
}

#footer-upper {
  display: flex;
  justify-content: flex-start;
  color: rgba(0,0,0,.50);
  font-size: 17px;
  padding: 2px 0 2px 35px;
  visibility: visible;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  min-width: 400px;
}

#footer-lower {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  font-size: 0.95rem;
  color: rgba(0,0,0,.65);
}

#footer-lower-left {
  display: flex;
  margin-left: 35px;
  padding: 2px 28px 0 0;
}

.left-footer-link {
  padding-right: 30px;
}

#footer-lower-right {
  display: flex;
  margin-right: 10px;
  padding: 2px 28px 0 0;
}

.right-footer-link {
  padding-left: 30px;
}