body {
  font-family: arial, sans-serif;
  font-size: small;
  color: #222;
}

#viewport {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100%;
}

div#viewport {
  position: absolute;
  top: 0;
  width: 100%;
}

a, a:visited {
  text-decoration: none;  
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

#footer-lower-left {
  display: flex;
  margin-left: 35px;
  padding: 2px 28px 0 0;
}

.left-footer-link {
  padding-right: 30px;
}

#footer-lower-right {
  display: flex;
  margin-right: 10px;
  padding: 2px 28px 0 0;
}

.right-footer-link {
  padding-left: 30px;
}